# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
.Rproj*
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
.Rproj.user

AppCompat/
AppPatch
BitLockerDiscoveryVolumeContents
Boot
Branding
CCM
Cursors
DirectX.log
Downloaded Installations
Downloaded Program Files
DtcInstall.log
Enterprise.xml
Fonts
Globalization
HPMProp.INI
Help
HelpPane.exe
IE11_main.log
IE9_main.log
IME
Installer
L2Schemas
Logs
Media
Microsoft.NET
Migration
ODBC.INI
ODBCINST.INI
Offline Web Pages
PFRO.log
PLA
Panther
Performance
PolicyDefinitions
Registration
Resources
SMSCFG.ini
Setup
ShellNew
SoftwareDistribution
Speech
Starter.xml
Sun
SysWOW64
System32
TAPI
TSSysprep.log
Tasks
Temp
Vss
WMSysPr9.prx
Web
WindowsShell.Manifest
WindowsUpdate.log
addins
aksdrvsetup.log
assembly
atiogl.xml
ativpsrm.bin
bfsvc.exe
bootstat.dat
debug
diagnostics
ehome
en-US
explorer.exe
fveupdate.exe
hh.exe
inf
mib.bin
msdfmap.ini
msxml4-KB2758694-enu.LOG
msxml4-KB954430-enu.LOG
msxml4-KB973688-enu.LOG
notepad.exe
regedit.exe
rescache
schemas
security
servicing
setupact.log
setuperr.log
splwow64.exe
system.ini
twain.dll
twain_32
twain_32.dll
twunk_16.exe
twunk_32.exe
win.ini
winhlp32.exe
winsxs
wlansvc
write.exe
